<div class="d-flex align-items-center">
 <h1>ユーザー登録</h1>
 <div class="ml-auto boards__linkbox">
  <%= link_to '掲示板一覧',users_path, class: 'btn btn-outline-dark' %>
 </div>
</div>

<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :name, '名前' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-check">
    <%= f.label :admin, class:'form-check-label' do %>
      <%= f.check_box :admin, class: 'form-check-input'%>
      管理者権限<% end %> 
  </div>
  <div class="form-group">
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, 'パスワード確認' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <%= f.submit '保存', class: 'btn btn-primary'%>
<% end %>